
.dropDown {
	border: 1px solid red;
	padding: 0 10px;
	background-color: rgb(13, 89, 144);
	border: 1px solid rgba(65,164,266,0.34);
    display:block;
    line-height:30px;
    border-radius:4px;
    width: 110px;
}
.dropDownWrap {
	line-height:30px;
}